<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agenda</title>
</head>
<body class="titulo">
<div class="text-center">
    <div class="container-fluid">
        <div class="row">
            <div class="titulo text-center text-white" id="titulo">
                <h3>
                    <strong>CALENDARIO</strong>
                </h3>
            </div>
            <div class="menu" id="sidebar" style="width: 256px; height:130vh; ">
                <div class="row mt-3">
                    <div>
                        <img id="imgCasa" title="casa" style="width:220px;" alt="" src="img/calendario.png">
                    </div>
                    <br>
                    <div>
                        <label class="align-items-center text-white" style="font-size:20px;"><strong>Menu</strong></label>
                    </div>
                </div>

                <hr>
                <div class="dropdown">
                    <button type="button" class="btn btn-primary dropdown-toggle" style="background-color: rgba(77,77,77,0.25)" data-bs-toggle="dropdown">
                        Selecciona el mes
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Enero</a></li>
                        <li><a class="dropdown-item" href="#">Febrero</a></li>
                        <li><a class="dropdown-item" href="#">Marzo</a></li>
                        <li><a class="dropdown-item" href="#">Abril</a></li>
                        <li><a class="dropdown-item" href="#">Mayo</a></li>
                        <li><a class="dropdown-item" href="#">Junio</a></li>
                        <li><a class="dropdown-item" href="#">Julio</a></li>
                        <li><a class="dropdown-item" href="#">Agosto</a></li>
                        <li><a class="dropdown-item" href="#">Septiembre</a></li>
                        <li><a class="dropdown-item" href="#">Octubre</a></li>
                        <li><a class="dropdown-item" href="#">Noviembre</a></li>
                        <li><a class="dropdown-item" href="#">Diciembre</a></li>

                    </ul>
                </div>
                <hr>
                <div>
                    <br><a href="#" class="nav nav-link text-white text-decoration-none" onclick="cargarModuloFebrero();">+ Crear Evento/Tarea</a>
                    <br>
                    <br><a href="#" class="nav nav-link text-white text-decoration-none" onclick="cargarModuloMarzo();">* Editar Evento/Tarea</a>
                    <br>
                    <br><a href="#" class="nav nav-link text-white text-decoration-none" onclick="cargarModuloMarzo();">- Eliminar Evento/Tarea</a>
                    <hr>
                    <a href="#" class="text-white text-decoration-none">Salir</a>

                </div>
            </div>
            <div id="contenedorEnero" class="contenedor py-3">
                <div class="card mt-3">
                    <div class="mes card-header">
                        <h1 class="nombre__mes">Enero 2025</h1>
                        <div class="btn-group btn-group-sm">
                            <button type="button" class="btn btn-secondary">Anterior</button>
                            <button type="button" class="btn btn-secondary">Siguiente</button>
                        </div>
                    </div>
                    <div class="card-body">
                        <section class="dias">
                            <div class="dias__item">Lunes</div>
                            <div class="dias__item">Martes</div>
                            <div class="dias__item">Miercoles</div>
                            <div class="dias__item">Jueves</div>
                            <div class="dias__item">Viernes</div>
                            <div class="dias__item">Sabado</div>
                            <div class="dias__item">Domingo</div>
                        </section>

                        <section class="calendario">
                            <div class="calendario__dia first-day">1</div>
                            <div class="calendario__dia">2</div>
                            <div class="calendario__dia">3</div>
                            <div class="calendario__dia">4</div>
                            <div class="calendario__dia">5</div>
                            <div class="calendario__dia">6</div>
                            <div class="calendario__dia">7</div>
                            <div class="calendario__dia">8</div>
                            <div class="calendario__dia">10</div>
                            <div class="calendario__dia">11</div>
                            <div class="calendario__dia">12</div>
                            <div class="calendario__dia">13</div>
                            <div class="calendario__dia">14</div>
                            <div class="calendario__dia">15</div>
                            <div class="calendario__dia">16</div>
                            <div class="calendario__dia">17</div>
                            <div class="calendario__dia">18</div>
                            <div class="calendario__dia">19</div>
                            <div class="calendario__dia">20</div>
                            <div class="calendario__dia">21</div>
                            <div class="calendario__dia">22</div>
                            <div class="calendario__dia">23</div>
                            <div class="calendario__dia">24</div>
                            <div class="calendario__dia">25</div>
                            <div class="calendario__dia">26</div>
                            <div class="calendario__dia">27</div>
                            <div class="calendario__dia">28</div>
                            <div class="calendario__dia">29</div>
                            <div class="calendario__dia">30</div>
                            <div class="calendario__dia">31</div>
                        </section>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
