.nombre__mes {
    text-align: center;
    color: #343a40; /* Color más oscuro */
    font-weight: 500;
}

.dias {
    color: #6c757d; /* Color más sutil */
    font-size: 0.9rem;
}

.calendario {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-rows: 80px; /* Reducir la altura de las celdas */
    gap: 2px; /* Espacio entre celdas */
}

.calendario__dia {
    border: 1px solid #dee2e6; /* Bordes más sutiles */
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}

    .calendario__dia:hover {
        background-color: #f8f9fa; /* Hover effect */
    }

.first-day {
    grid-column-start: 3;
}
