html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.contenedor {
    width: 90%;
    margin: 0 auto;
    background: #fff;
    max-width: 1200px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, .1);
    border-radius: 10px;
    padding: 20px;
    margin-left: 170px
}


.calendar-container {
    width: 90%;
    margin: auto;
    overflow-x: auto;
}

.calendar-header {
    background-color: #222;
    color: white;
    text-align: center;
    font-weight: bold;
}

.time-column {
    width: 100px;
    text-align: center;
    font-weight: bold;
    background: #333;
    color: white;
}

.day-column {
    width: 150px;
    border-right: 1px solid #ddd;
}

.time-slot {
    height: 50px;
    border-bottom: 1px solid #ddd;
}

html, body {
    overflow-x: hidden;
}